{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h1>Tasks</h1>
    <div>
        <table>
            <tr>
                <th>Sort</th>
                <td></td>
            </tr>
        </table>

        <button type="submit">Submit</button>
    </div>

    <div>
        <h3>Actions</h3>
        <ul>
            <li>
                <a href="{{ path('task_new') }}" role="button">
                    Create task
                </a>
            </li>
        </ul>
    </div>

    <div>
        {% for task in tasks %}
            <div>
                <h2>{{ task.title }}</h2>

                <ul>
                    <li>
                        User: {{ task.username }}
                    </li>
                    <li>
                        E-mail: {{ task.email }}
                    </li>
                </ul>
            </div>
        {% else %}
            <div>
                There is no tasks here.
            </div>
        {% endfor %}
    </div>

    <div>
        {% for pageNumber in paginator %}
            <a href="{{ path('task_index', {'page': pageNumber}) }}">
                {{ pageNumber }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
